:root {
  --gray-00: #ffffff;
  --gray-05: #f5f6f7;
  --gray-15: #d0d0d5;
  --gray-75: #3b3b4f;
  --gray-85: #1b1b32;
  --gray-90: #0a0a23;
  --blue-50: #198eee;
  --error: #a94442;
  --danger-color: #850000;
  --danger-background: #ffadad;
  --output-border: #f33c3c;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 50px 20px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: var(--gray-85);
  color: var(--gray-05);
  text-align: center;
  position: relative;
}
.container {
  max-width: 450px;
  position: absolute;
  left: calc(50% - 450px / 2);
}
fieldset {
  margin-top: 25px;
  background-color: var(--gray-75);
  border: 5px solid #f5f6f7;
  padding: 35px;
  text-align: center;
  width: 100%;
}

#number {
  margin-top: 15px;
  width: 250px;
  font-size: 45px;
  background-color: var(--gray-85);
  color: #ffffff;
}
#convert-btn {
  cursor: pointer;
  margin-top: 15px;
  text-decoration: none;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
  padding: 10px 16px;
  font-size: 23px;
}
#output {
  margin-top: 15px;
  text-align: center;
  font-size: 55px;
}
.output-error {
  background-color: var(--danger-background);
  color: var(--danger-color);
  border: 2px solid var(--output-border);
}

.output-ok {
  background-color: var(--gray-75);
  color: var(--gray-00);
}
